html {
    display: block;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    border-color: grey;
    text-indent: initial;
    border-spacing: 2px;
    
}
thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
label {
    cursor: default;
}